extends layout

block styles
  link( rel="stylesheet" type="text/css" href="css/new.css" )

block content
  h1 New user
  form( method="post" action="/api/new-user" )
    label( for="username" ) <span class="required -error">required</span> Username
    - const userValue = user ? user : "";
    input( type="text" name="username" value=`${userValue}` required autofocus )

    label( for="passphrase" ) <span class="required -warn">recommended</span> Passphrase to encrypt your items with
    input( type="password" name="passphrase" )
    button( type="submit" ) Submit user
