extends layout

block styles
  link( rel="stylesheet" type="text/css" href="css/status.css" )

block content
  h1 Locked item status
  label( for="status" ) Get the status of an encrypted item by entering it's code:
  - const inputValue = item ? item : user;
  input( type="text" name="status" value=`${inputValue}` )
  button Get Status

block scripts
  script( src="js/status.js" )
