extends layout

block styles
  link( rel="stylesheet" type="text/css" href="css/welcome.css" )

block content
  h1 Lock Me Out
  p Encrypt a string to make it inaccessible for a given amount of time.
  .inline-items
    a( href="/new" ).button--get-started
      img( src="img/lock-closed.svg" )
      p Lock item
    a( href="/status" ).button--get-started
      img( src="img/lock-open.svg" )
      p Unlock item
  p For example:<br>If you need to focus on your studies the upcoming week,<br>you could take your netflix password out of your password manager<br>and lock it away for one week.<br>After that week you will be able to extract the password again.
  a#source( href="https://github.com/jneidel/lock-me-out#readme" ).button--get-started
    img( src="img/github.svg" )
    p Source
block scripts
  script( src="js/welcome.js" )
