extends layout

block styles
  link( rel="stylesheet" type="text/css" href="css/welcome.css" )

block content
  h1 lock-me-out
  a( href="login" ) Login
  br
  a( href="register" ) Register

block scripts
  script( src="js/welcome.js" )
