// Basic colors
$white: #F5F7FA;
$black: #333;
$green: #3BECAB;
$blue: #15B7E4;
$yellow: #FFC93C;
$red: #FC3A52;

//Fonts
@font-face {
  font-family: Quantify;
  font-weight: bold;
  src: url( fonts/Quantify.ttf );
}
$f-text: "Open Sans", Arial;
$f-headline: "Lato", "Open Sans", Arial;
$f-logo: Quantify, Arial;

// Font sizes
$fs-text: 16px;
$fs-bigger-text: 20px;
$fs-headline: 1.80rem;
$fs-small: 0.65rem
