// Basic colors
$white: #F5F7FA;
$black: #333;
$green: #3BECAB;
$blue: #15B7E4;
$yellow: #FFC93C;
$red: #FC3A52;

//Fonts
$f-text: "Open Sans", Arial;
$f-headline: "Lato", "Open Sans", Arial;

// Font sizes
$fs-text: 16px;
$fs-headline: 1.55rem;
$fs-small: 0.65rem
