@import "_vars.scss";

html {
  font-size: $fs-text;
  font-family: $f-text;
  color: $white;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 6vw auto 6vw;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    "header header header"
    ". main ."
    ". footer .";
  background-image: linear-gradient( 26deg, $blue, $green );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: $fs-headline;
  font-family: $f-headline;
}

#content {
  grid-area: main;
}

/*
  Header

  adapted from: https://github.com/jneidel/projects-overview/blob/master/src/scss/layout.scss
  and: https://github.com/jneidel/projects-overview/blob/master/src/scss/mixins/_header.scss
*/
#header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  box-shadow: 0 0 5px $white;
  border-radius: 5px;
  background: rgba( $white, .1 );

  &:hover {
    box-shadow: 0 0 8px $white;
  }
}

#header a {
  color: $white;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: border 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

/*
  Left side
*/
#nav-left {
  padding: 5px 25px;
}

// Logo
#logo {
  margin: 0;

  font-family: $f-logo;
  font-size: 3.2rem;
  height: 43px;
}

/*
  Right side
*/
#nav-right {
  display: flex;
  padding: 0 25px;

  p {
    margin: 20px 0 0 0;
  }
}
.nav-container {
  padding-top: 20px;
  padding-bottom: 18px;
}
#nav-link-register {
  margin-right: 15px;
}

// Flashes
.flash {
	font-size: 1.25rem;
  background: rgba( $black, 0.25 );
	padding: 4px 8px 4px 6px;
	margin: 5px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
  cursor: pointer;

  &:hover {
    background: rgba( $black, 0.15 );
  }
  &:last-of-type {
    margin-bottom: 10px;
  }
  &.-success {
    border-left: 4px solid $yellow;
  }
  &.-error {
    border-left: 4px solid $red;
  }
  &.-info {
    border-left: 4px solid $white;
  }
  &__text {
    margin: 0;
  }
}
