@import "_vars.scss";

a {
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Optional label
.-error {
  background: $red;
  color: $white;
}
.-warn {
  background: $yellow;
  color: $black;
}
.-info {
  background: $green;
  color: $black;
}

.required {
  padding: 2px 5px;
  font-size: $fs-small;
  margin-right: 5px;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
}

// Date and time picker on the same line
.half-input {
  display: flex;
  flex-direction: row;

  .first {
    margin-right: 10px;
    width: 135px;
  }
  .second {
    width: 115px;
  }
  // Total width for both inputs:
  // 10(margin)+135(date w)+115(time w)+2*10(extra padd)+2(???)=282
}
$form-width: 282px;
input {
  width: $form-width;
}
button {
  width: $form-width;
  height: 23px;
}

