@import "_vars.scss";

#decryptForm {
  margin-top: 25px;
}

a {
  text-decoration: none;
  color: $black;
}

img { // Turn black icons into white
  filter: invert(100%);
}
#delete { // Turn black delete into grey
  filter: invert(20%);
  cursor: pointer;
}

// Table styles
table {
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
td:not(:last-child), th:not(:last-child) {
  padding-right: 20px;
}
th {
  border-bottom: 1px solid $white;
}
td {
  text-align: center;
  padding-top: 5px;

  p { // Reset UserViews: p View
    margin: 0;
  }
}

// Decrypt text area
#decryptArea {
  background: none;
  // button width = 272
  // area padding + border = 6
  width: 266px;
  height: 50px;
  margin-top: 20px;
}

