@import "_vars.scss";

#decryptIpt {
  margin-top: 25px;
}
#delete {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $black;
}

// Table styles
table {
  border-collapse: collapse;
}
td:not(:last-child), th:not(:last-child) {
  padding-right: 20px;
}
th {
  border-bottom: 1px solid $white;
}
td {
  text-align: center;
  padding-top: 5px;
}

